# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js build output
/.next/
/out/

# Production build
/build
/dist

# Environment variables
.env
.env*.local

# SQLite Database & logs
*.db
*.db-journal
dev.db

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Operating System files
.DS_Store
*.pem

# IDEs & Editors
.idea/
.vscode/
*.swp
*.swo
